{% extends "basic_layout.html" %}

{% block title %} Subjects {% endblock %}
{% block content %}
    {{ super() }}
    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/horsey.min.css") }}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {% endblock %}
    <div class="container">
            <input class="input-md col-sm-10" autocomplete="off" id="prof" spellcheck="false" type="text" placeholder="Search for professors">
            <button class="btn btn-default btn-sm col-sm-2" id="submitbtn"><span class="glyphicon glyphicon-search"></span></button>
            <br>
            <br>
        <div class="jumbotron">
            <h3 align="center">1. Choose your current semester</h3>
        </div>
        <div class="list-group">
            {% for sem in range(1,9) %}
                {% if sem==1 %}
                <a class="btn btn-default list-group-item" href="{{ url_for("bp.semester", sem=sem )}}"> {{ sem }}<sup>st</sup> Semester </a>
                {% elif sem==2 %}
                    <a class="btn btn-default list-group-item" href="{{ url_for("bp.semester", sem=sem )}}"> {{ sem }}<sup>nd</sup> Semester </a>
                {% elif sem==3 %}
                    <a class="btn btn-default list-group-item" href="{{ url_for("bp.semester", sem=sem )}}"> {{ sem }}<sup>rd</sup> Semester </a>
                {% else %}
                    <a class="btn btn-default list-group-item" href="{{ url_for("bp.semester", sem=sem )}}"> {{ sem }}<sup>th</sup> Semester </a>
                {% endif %}
            {% endfor %}
        </div>
        <script type="text/javascript" src="{{ url_for("static", filename="js/horsey.min.js") }}"></script>
        <script>
        function autocomplete(){
        
            $.getJSON("{{ url_for("bp.data") }}", function(data){

                var arr = data.data;
                horsey(document.querySelector('input'), {
                    source: [{ list: arr}]
                });
            
            }
            )};

        $(document).ready(function(){
            autocomplete();
            $("#submitbtn").click(function(){
                    //alert($("#prof").val());
                    window.location =  "../professor/" + encodeURI($("#prof").val());
                }); 
        });
            
        </script>
    </div>
{% endblock %}
