{% extends "basic_layout.html" %}
{% from "macros.html" import render_field %}
{% block title %} Subjects {% endblock %}
{% block content %}
    {{ super() }}
    {% block styles %}
        {{ super() }}
        <link href=" {{ url_for("static", filename="css/star-rating.min.css") }}" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {% endblock %}


    <div class="container">
        Professor Name: {{ prof.name }} <br>
        Speciality: {{ prof.spec }} <br>
        Qualification: {{ prof.qual }} <br>
        Experience: {{ prof.exp }} years <br>

        
        {% if current_user.is_authenticated %}
        <form method="post" action="">
            <dl>
                {{ render_field(form.Punctual) }}
                {{ render_field(form.DeathByPPT) }}
                {{ render_field(form.FairPaperEvaluation) }}
                {{ render_field(form.Rating, id="hiddenrating") }}
                <input data-size="xs" id="star-input" name="input-1" class="rating" data-min="0" data-max="5" data-step="1">
                {{ render_field(form.Submit, class="btn btn-default") }}
            </dl>

    <script type="text/javascript" src="{{ url_for("static", filename="js/star-rating.min.js") }}"></script>
    <script>
            $(document).ready(function(){
                $('.rating').on('change', function(event, value, caption) {
                $('#hiddenrating').val(value);

                });
                $('#star-input').on('rating.hover', function(event, value, caption) {
                $('#hiddenrating').val(value);
                alert("The rating you've given is " + value);
            });
        });
    </script>

        </form>
        {% endif %}
    </div>
{% endblock %}

