{% extends "basic_layout.html" %}
{% from "macros.html" import render_field %}
{% block title %} Subjects {% endblock %}
{% block content %}
    {{ super() }}
    {% block styles %}
        {{ super() }}
        <link href=" {{ url_for("static", filename="css/rating.min.css") }}" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {% endblock %}


    <div class="container">
        Professor Name: {{ prof.name }} <br>
        Speciality: {{ prof.spec }} <br>
        Qualification: {{ prof.qual }} <br>
        Experience: {{ prof.exp }} years <br>

        
        {% if current_user.is_authenticated %}
        <form method="post" action="">
            <dl>
                {{ render_field(form.Punctual) }}
                {{ render_field(form.DeathByPPT) }}
                {{ render_field(form.FairPaperEvaluation) }}
                {{ render_field(form.Rating, id="hiddenrating", type="hidden") }}
                <div id="star" class="c-rating"></div>
                {{ render_field(form.Submit, class="btn btn-default") }}
            </dl>

    <script type="text/javascript" src="{{ url_for("static", filename="js/rating.min.js") }}"></script>
    <script>
        var el = document.querySelector('#star');
        var initial = 0;
        var maxRating = 5;
        var callback = function(rating) { 
                        $("#hiddenrating").val(rating);};
        var myRating = rating(el, initial, maxRating, callback);

    </script>

        </form>
        {% endif %}
    </div>
{% endblock %}

