{% extends "basic_layout.html" %}

{% block title %} Subjects {% endblock %}
{% block content %}
    {{ super() }}
    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/jumbotron.css") }}">
    {% endblock %}
    <div class="container">
        <div class="jumbotron">
            <h3 align="center">2. Choose the subject for which you want to review a professor</h3>
        </div>
        <div class="list-group">
            {% for sub in subs %}
                <a class="btn btn-default list-group-item" href="{{ url_for("bp.subject", subid=sub|urlencode )}}"> {{ sub }} </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
